---
import Footer from "../../components/Footer.astro";
import MemberCard from "../../components/MemberCard.astro";
import MemberCardTabs from "../../components/MemberCardTabs.svelte";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import members from "../../data/members.json";
import alumni from "../../data/alumni.json";
import Logo from "../../../public/logoMainPage.svg?raw";
---

<Layout title="CRUx BPHC - Members">
  <div class="fixed left-0 top-0 size-full bg-background"></div>
  <div class="fixed -right-24 -top-16 z-0 flex opacity-20 blur">
    <div class="size-96 text-foreground-bright opacity-45">
      <Fragment set:html={Logo} />
    </div>
  </div>
  <div class="fixed -bottom-20 -left-20 z-0 flex opacity-20 blur">
    <div class="size-96 text-foreground-bright opacity-45">
      <Fragment set:html={Logo} />
    </div>
  </div>
  <main id="main" class="relative pb-28">
    <Navbar />
    <div class="flex w-full flex-col items-center lg:pt-12 xl:pt-16">
      <MemberCardTabs client:load>
        {
          members
            .sort(
              (a, b) =>
                parseInt(b.highlightedBadges[0] ?? "0") -
                parseInt(a.highlightedBadges[0] ?? "0"),
            )
            .map((member) => (
              <MemberCard
                href={`/members/${member.username}`}
                name={member.name}
                title={member.title}
                highlightedBadges={member.highlightedBadges}
                badges={member.badges}
                imageURL={member.avatar}
                slot="members"
              />
            ))
        }
        {
          alumni
            .sort(
              (a, b) =>
                parseInt(b.highlightedBadges[0] ?? "0") -
                parseInt(a.highlightedBadges[0] ?? "0"),
            )
            .map((alumnus) => (
              <MemberCard
                href={`/members/${alumnus.username}`}
                name={alumnus.name}
                title={alumnus.title}
                highlightedBadges={alumnus.highlightedBadges}
                badges={alumnus.badges}
                imageURL={alumnus.avatar}
                slot="alumni"
              />
            ))
        }
      </MemberCardTabs>
    </div>
    <Footer />
  </main>
</Layout>
