---
import { Image } from "astro:assets";

import Badge from "./Badge.astro";

interface Props {
  imageURL: string;
  href: string;
  caption: string;
  number: number;
}

const { imageURL, href, caption, number } = Astro.props;

const containerStyles =
  "w-[88vw] flex flex-row lg:flex-col lg:w-72 md:w-[64vw] ";
---

<div
  class=`${containerStyles} items-center justify-center rounded-xl border-y-2 border-b-border-gradient-2/10 border-t-border-gradient-1/10 bg-gradient-to-br from-glass-gradient-1/60 from-0% via-glass-gradient-2/60 via-90% to-glass-gradient-3/60 to-100% text-foreground shadow-lg`
>
  <Image
    src={imageURL}
    class="rounded-3xl py-8 pl-8 lg:px-4"
    alt="Our Achievement"
    width={160}
    height={160}
    loading="lazy"
  />

  <div
    class="flex w-full flex-col items-center justify-center pt-8 lg:px-4 lg:pt-0"
  >
    <p class="text-center text-4xl font-bold sm:text-5xl lg:text-6xl">
      {number}
    </p>
    <p class="text-center text-lg sm:text-xl">
      {caption}
    </p>
    <p class="py-2">
      <a href={href} target="_blank">
        <Badge
          style="bg-badge font-semibold mt-4 text-purple rounded-3xl shadow-xl"
          text="more"
        />
      </a>
    </p>
  </div>
</div>
